<%= form_for @song do |f| %>
<label for="My song name">My song name</label>
  <%= f.text_field :name %><br>
  <%= f.text_field :artist_id %><br>
  <%= f.text_field :genre_id %><br>

  <%= f.submit %>

  <% end %>
